body {
    font-size: 28px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.filterInput {
    font-size: 30px;
    line-height: 40px;
    height: 40px;
    display: block;
    width: calc(100% - 16px);
    box-sizing: border-box;
    margin: 8px 8px 10px 8px;
}
